
.footer{
  background-color: $primary;
  color: $dark;

  .level{
    flex-direction: column-reverse;
    display: flex;
    @include from($desktop) {    flex-direction: row;}
    .level-left, .level-right {
      margin-top: 1.5rem;
    }
  }
  .icon-links{
    text-align: right;
    a {
      width: 1.4rem;
      display: inline-block;
      margin: 1rem;

      svg {
       width: 100%;
       color: inherit;
       fill: currentColor;
      }

      &:hover svg{
        color: inherit;
        fill: currentColor;
      }
    }
  }
}
