#header {
  padding-bottom: 1.5rem;
  @include from($desktop) {
    padding-bottom: 1.5rem;
  }
}

.logo-link {
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: .78;
  letter-spacing: -0.06ch;
  //text-transform: lowercase;
  font-style: italic;
  width: min-content;
}

#logo {
  //height: 6rem;
  font-size: 1.5rem;
  width: auto;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: cursive;
  height: 6rem;

  @include from($desktop){
    font-size: 2rem;
    height: 8rem;
  }
}

.whatsapp-link{
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: 2rem;
  color: white;
  @include from($desktop) {
    display: none;
  }
}

.burger {
  margin-left: 0;
  position: relative;
  width: 26px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  cursor: pointer;
  //display: none;

  @include from($desktop) {
    display: none;
  }

  span{
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
  }
}

.navbar-item {
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: -.03ch;
  line-height: 1;

  &.button {
    margin: 1rem 0 0 0;
    display: inline-flex;
    @include from($desktop) {
      margin: 0 0 0 1rem;
    }
  }
}

#header .navbar{
  min-height: 3rem;
  align-items: center;

  .navbar-brand {
    justify-content: center;
    align-items: center;

    @include from($desktop) {margin-left: 0;}

    .navbar-item { padding: 0;}

    .navbar-burger {
      padding: 0.75rem;
      color: #fff;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }

  }

  .navbar-menu {
    box-shadow: none;
    display: block;
    height: 0;
    transition: height .25s ease;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;

    @include from($desktop) {
      height: auto;
      overflow:visible;
      padding-top: 0rem;
    }

    &.is-active{
      height: auto;
      @include from($desktop) {height: auto;}
    }

    .navbar-end {
      align-items: center;
      //padding: 1rem 0 0;
      text-align: center;
      padding-top: 3rem;
      @include from($desktop) {padding-top: 0;}
    }
  }

}
