@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "~bulma/sass/utilities/initial-variables.sass";

$blue: #4285F4;
$orange: #F47543;
$yellow: #F4EB43;

$blueLight: #F2F6FE;

$primary: $orange;
$link: $yellow;

//$dark: $grey-darker;
//$text: $grey-dark;

// $dark: hsl(0, 0%, 14%);
// $light: $white-ter;

$link-hover: $yellow;
$link-visited: $link;

$body-background-color: $blue;
$body-color: $blueLight;
// $body-weight:$weight-light;

$navbar-background-color: transparent;
$navbar-item-color: $blueLight;
$navbar-item-hover-color:  #fff;
$navbar-item-hover-background-color:transparent;
$navbar-item-active-color: #fff;
$navbar-item-active-background-color:transparent;

$footer-background-color:transparent;
$footer-padding: 3rem 1.5rem;
$control-radius: 0;

$content-heading-color: $primary;
$content-heading-weight: 600;


//$container-max-width:$widescreen;

// $footer-color: #3e3e3e;
// $footer-background-color: #f5f5f5

//@import "~bulma/sass/utilities/_all";
@import "~bulma/bulma.sass";

@import "./_layout.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_page.scss";
@import "./_util.scss";
